*{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

select {
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
}

table, td, th {
    border: 1px solid #ced4da;
}

table{
    border-collapse: collapse;
    border-radius: 0.25rem;
}

td, th{
    padding: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

legend{
    font-weight: bold;
}

.loading{
    position: fixed;
    font-size: 52px;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ddd;
}